--find-links https://storage.googleapis.com/jax-releases/jax_nightly_releases.html
--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]==0.4.31
tensorflow
flax
tqdm
numpy
ipywidgets